<?xml version="1.0"?>
<!--
/**
 * Magenizr AdminUser
 *
 * @category    Magenizr
 * @package     Magenizr_AdminUser
 * @copyright   Copyright (c) 2021 Magenizr (https://agency.magenizr.com)
 * @license     https://www.magenizr.com/license Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenizr_AdminUser::activity" title="User Activity" module="Magenizr_AdminUser" sortOrder="1000" parent="Magento_User::system_acl" action="magenizr_adminuser/activity/index" resource="Magenizr_AdminUser::activity" />
    </menu>
</config>
