<?xml version="1.0"?>
<!--
/**
 * Magenizr AdminUser
 *
 * @category    Magenizr
 * @copyright   Copyright (c) 2021 Magenizr (https://agency.magenizr.com)
 * @license     https://www.magenizr.com/license Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magenizr_adminuser" frontName="magenizr_adminuser">
            <module name="Magenizr_AdminUser" before="Magento_Backend" />
        </route>
    </router>
</config>
